antlr4-python3-runtime==4.13.2
cachetools==5.5.1
flask==3.1.0
flask-cors==5.0.0
gunicorn==23.0.0
inflect==7.0.0
luigi==3.6.0
nltk==3.9.1
pandas==2.2.3
psycopg2==2.9.9
pydantic==2.7.0
pymongo==4.11
pytest==8.3.4
ruff==0.9.6
simplejson==3.19.3
sly==0.4
spacy==3.7.3
typing-extensions==4.11.0